{% extends "base.html" %}
{% comment %}
  This is the main template for all app pages.
{% endcomment %}

{% block head %}
  <title>NeverAlone | {% block title %}{% endblock %}</title>
{% endblock %}

{% block nav %}
  {% csrf_token %}
  <a href="/" type="button" class="btn btn-md btn-success active" role="button">Home</a>
  <a href="/app/profile/" type="button" class="btn btn-md btn-success active" role="button">Profile</a>
  <a href="/app/pictures/" type="button" class="btn btn-md btn-success active" role="button">Pictures</a>
  <a href="/logout/" type="button" class="btn btn-md btn-danger active" role="button">Logout, {{user.username}}</a>
{% endblock %}

{% block body %}

  <div class="page-header">
    <h4 style="font-style:italic;">"Date Smartly.. Love Smartly.. Never Alone.."</h4>      
  </div>

{% block content %}{% endblock %}
 <br><br>
<hr>
  <footer>
    <span>&copy; 2015, NeverAlone - ADB Project - NTHU</span>
  </footer>
{% endblock %}