{% extends "app/app.html" %}
{% comment %}
  Main page of the NeverAlone.
{% endcomment %}

{% block title %}
  Never Alone
{% endblock %}

{% block content %}

      <div class="row">

      <!--POTENTIAL MATCHES-->
        <div class="col-md-9">
          <div class="panel panel-success">
           <div class="panel-heading"><span class="glyphicon glyphicon-heart-empty" style="color:red;" aria-hidden="true"></span> Here are your potential matches.. Ignite an interest to start matching.. </div>

           <div class="row">
             <div class="col-md-3">
             {% if potential_matches %}
          	   {% for other in potential_matches %}
          	    <div class="thumbnail"><img class="img-circle img-responsive center-block"
                {% if other.profilePicture %}
                  src={{other.profilePicture}}
                {% else %}
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                {% endif %}
                alt="Generic placeholder image" width="80" height="80">
                  <p style="text-align:center;"><a href="#">{{ other.user.username }}, {{ other.gender }} </a>
                    <a href="#" title="Interested"><span class="glyphicon glyphicon-fire" style="color:red;" aria-hidden="true"></span></a>
                  </p>
                  <p style="text-align:center;">{{ other.description }}</p>
                  <form method="POST" action="/app/interested_in_me/{{ other.pk }}/">
                  {% csrf_token %}
                  <input type="submit" value="Contact" class="btn btn-lg btn-primary">
                </form>
                </div>
              {% endfor %}
            {% else %}
              <p style="text-align:center;">No potential matches found :( </p>
            {% endif %}
            <hr>
            </div>
          </div>
        </div>
        </div>

        <!--PEOPLE INTERESTED IN YOU-->
        <div class="col-md-3">
          <div class="panel panel-success">
           <div class="panel-heading"><span class="glyphicon glyphicon-fire" style="color:red;" aria-hidden="true"></span> People interested in you: </div>

          <div class="panel-body" style="min-height: auto; max-height: 300px;overflow-y: scroll;">

          	{% if interested_in_me %}
          	{% for other in interested_in_me %}
          	<div class="thumbnail"><img class="img-circle img-responsive center-block"
                {% if other.profilePicture %}
                  src={{other.profilePicture}}
                {% else %}
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                {% endif %}
                alt="Generic placeholder image" width="80" height="80">
                  <p style="text-align:center;"><a href="#">{{ other.user.username }}, {{ other.gender }} </a>
                    <a href="#" title="Interested"><span class="glyphicon glyphicon-fire" style="color:red;" aria-hidden="true"></span></a>
                  </p>
                  <p style="text-align:center;">{{ other.description }}</p>
                  <form method="POST" action="/app/interested_in_me/{{ other.pk }}/">
                  {% csrf_token %}
                  <input type="submit" value="Contact" class="btn btn-lg btn-primary">
                </form>
                </div>
           {% endfor %}
           {% else %}
            <p style="text-align:center;">No one is interested in you yet :( </p>
           {% endif %}
           <hr>

          </div>
        </div>
        </div>


       <!--BOTH INTERESTED IN EACH OTHER-->
        <div class="col-md-3" style="float:right;margin-top:5px;">
          <div class="panel panel-success">
           <div class="panel-heading"><span class="glyphicon glyphicon-heart" style="color:red;" aria-hidden="true"></span> Matches: </div>
           
          <div class="panel-body" style="min-height: auto; max-height: 300px;overflow-y: scroll;">

            {% if matches %}
          	{% for other in matches %}
          	<div class="thumbnail"><img class="img-circle img-responsive center-block"
                {% if other.profilePicture %}
                  src={{other.profilePicture}}
                {% else %}
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                {% endif %}
                alt="Generic placeholder image" width="80" height="80">
                  <p style="text-align:center;"><a href="#">{{ other.user.username }}, {{ other.gender }} </a>
                    <a href="#" title="Interested"><span class="glyphicon glyphicon-fire" style="color:red;" aria-hidden="true"></span></a>
                  </p>
                  <p style="text-align:center;">{{ other.description }}</p>
                  {{ other.user.email }}
                </form>
                </div>
           {% endfor %}
           {% else %}
            <p style="text-align:center;">No matches yet :( </p>
           {% endif %}
           <hr>

          </div>
        </div>
        </div>
        </div> 
{% endblock %}

