{% extends "app/app.html" %}
{% comment %}
  A page which allows a user to select the pictures describing relationships he's interested in.
{% endcomment %}

{% block title %}
  What are you looking for?
{% endblock %}

{% block content %}
  <section>
    <h2>What kind of relationship are you looking for?</h2>

    <form method="POST" action="">
      {% csrf_token %}

      <fieldset>
          <div class='row'>
          {% for picture in pictures %}

              <div class='col-sm-2'>
                  <input type="checkbox" name="pictures" id="pictures_{{ forloop.counter }}" value="{{ picture.pictureURL }}" />
                  <label for="pictures_{{ forloop.counter }}">
                      <img src='{{ picture.pictureURL }}' alt='' class='img-thumbnail img-responsive' />
                  </label>
              </div><!-- .col-sm-2 -->

              {% if forloop.counter|divisibleby:6 and not forloop.last %}
          </div><!-- .row -->
          <div class='row'>
              {% endif %}
          {% endfor %}
          </div><!-- .row -->
      </fieldset>

      <input type="submit" value="Submit" class="btn btn-lg btn-primary">
    </form>

    <h2>Does they are looking good together ?</h2>
      {% for profile in couple %}
        <div class="thumbnail"><img class="img-circle img-responsive center-block"
            {% if profile.profilePicture %}
              src={{profile.profilePicture}}
            {% else %}
              src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            {% endif %}
            alt="Generic placeholder image" width="80" height="80">
              <p style="text-align:center;">{{ profile.user.username }}, {{ profile.gender }}
                <span class="glyphicon glyphicon-fire" style="color:red;" aria-hidden="true"></span>
              </p>
              <p style="text-align:center;">{{ profile.description }}</p>
          </div>
       {% endfor %}
      <form method="POST" action="/app/recommended/{{ couple.0.pk }}/{{ couple.1.pk }}/1/">
        {% csrf_token %}
      <input type="submit" value="Yes" class="btn btn-lg btn-primary">
      <form method="POST" action="/app/recommended/{{ couple.0.pk }}/{{ couple.1.pk }}/0/">
        {% csrf_token %}
      <input type="submit" value="No" class="btn btn-lg btn-danger">
    </form>
  </section>
{% endblock %}
