{% extends "base.html" %}
{% comment %}
  Main page of NeverAlone's website.
{% endcomment %}

{% block head %}
  <title>NeverAlone</title>
{% endblock %}


{% block body %}

  
  {% if user.is_authenticated %}
  
  {% else %}
  <div class="jumbotron">
  <h1>NeverAlone</h1>
      <p>"The best place to never be alone again"</p>
      <form method="POST" action="/register/" class="form-horizontal" role="form">
	    {% csrf_token %}
	    {{userform}}
	    {{userprofileform}}
	    <input type="submit" value="Submit" class="btn btn-lg btn-primary">
	  </form>
  </div>
  {% endif %}

 
{% endblock %}

<script type="text/javascript">
	$(document).ready(function() {
	$('#myCarousel').carousel({
	interval: 10000
	})
});
</script>